.array-element {
    display: inline-block;
    width: 58px;
    height: 55px;
    background-color: #206999;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    border: 1px solid transparent;
    color: #ffffff;
    
}

.highlight {
    background-color: rgb(214, 32, 62);
}

.pivot {
    border: 1px solid black;
    border-width: 3px;
}

#array-container {
    text-align: center;
    position: relative;
    top: 200px;
    left: 20px;
}

.Input-button{
    text-align: center;
    position: relative;
    top: 130px;
    left: 20px;
}

.button{
    background-color: #206999;
    color: #ffffff;
    padding: 8px;
}

input{
    padding: 8px;
}